*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;  
  }
  
  body{
      font-size: 10px;
      margin: 0;
      padding: 0;
      font-family: 'Open Sans';
  }
  
  #container{
      width: 300px;
      height: 250px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      background-color: #096B67;
      margin: 0 auto;
  }
  
  #border{
      width: 300px;
      height: 250px;
      border: 1px solid #000;
      z-index: 999;
      opacity: 0.3;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  /* bg image  */
  #shape1{
      position: absolute;
      top: 0;
      right: 0;
      width: 224px;
      height: auto;
      transform: translate(220px, -220px)
  }
  #shape2{
      position: absolute;
      bottom: 60px;
      right: 0;
      width: 130px;
      height: auto; 
      opacity: 0;
  }
  #img1, #img2, #img3{
      position: absolute;
      top: 0;
      right: 0;
      width: 220px;
      height: auto; 
      opacity: 0;
  }
  #img1{
      transform: translate(220px, -220px);
  }
  #txt1{
      position: absolute;
      bottom: 86px;
      right: 32px;
      font-size: 13px;
      opacity: 0;
      transform: rotate( -22deg);
  }
  #txt2{
      position: absolute;
      bottom: 85px;
      right: 26px;
      font-size: 13px;
      opacity: 0;
      transform: rotate( -20deg);
  }
  #txt3{
      position: absolute;
      bottom: 86px;
      right: 39px;
      font-size: 13px;
      opacity: 0;
      transform: rotate( -21deg);
  }

  /* logo   */
  #logo{
      position: absolute;
      top: 18px;
      left: 30px;
      width: auto;
      height: 42px;      
      opacity: 0;
      transform: translateY(-30px);
  }
  #logo1{
      position: absolute;
      top: 39px;
      left: 29px;
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      color: #fff;
      opacity: 0;
      transform: translateY(-30px);
  }
      
  /* frame text's */
  #text1, #text2a, #text2b, #text3{
      position: absolute;
      color: #fff;
      font-size: 15px;
      opacity: 0;
  }
  #text1{
      top: 80px;
      left: 14px;
  }
  #underline{
      position: absolute;
      border-bottom: 3px solid #d5b73d;
      width: 0px;
      top: 104px;
      left: 14px;
  }
  #text2a{
      top: 112px;
      line-height: 1;
      left: 14px;
      letter-spacing: 1px;
      color: #E3BD3B;
      font-size: 23px;
      font-weight: 500;
  }
  #text2b{
      top: 135px;
      line-height: 1;
      left: 14px;
      letter-spacing: 1px;
      color: #E3BD3B;
      font-size: 23px;
      font-weight: 500;
  }
  #text3{
      top: 160px;
      left: 14px;
      transform: translateY(-30px);
  }

  /* cta */
  #cta{
      position: absolute;
      bottom: 7px;
      left: 14px;
      background-color: #E3BD3B;
      border-radius: 13px;
      padding: 5px 23px;
      text-align: center;
      font-size: 11px;
      opacity: 0;
      transform: translateX(-30px);
  }
 
  /* url */
  #url{
      position: absolute;
      bottom: 10px;
      right: 26px;
      color: #fff;
      font-size: 13px;
      opacity: 0;
      transform: translateX(30px);
    }
 
  
  
  
  